MIMIR_API=http://localhost:8000
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
DEVICE_IP=192.168.1.44
DEVICE_NAME=SmallTV Ultra
DEVICE_HOSTNAME=smarttv-ultra
REGISTRATION_FILE=registration.json
